* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #007bff;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  color: white;
  text-decoration: none;
}
.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: self-start;
}
.nav-item {
  margin-right: 30px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.nav-search {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #004494;
}
/* header section end here */

.container {
  width: 100%;
  height: auto;
  background-color: orangered;
}
.head {
  padding-top: 10px;
  text-align: center;
  color: white;
}

.img1,
.img2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */

  

  .nav-menu{
    display: none;
  }

  .img1,
  .img2 {
    flex-direction: column;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .img1,.img2{
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    width: 100%;
  }
  .im,.im1{
    display: flex;
    justify-content: center
  }

  img{
    width: 100%;
    padding: 10px 100px;
  }
  .nav-search{
    display: none;
  }
 
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}
